<div class="task round">
  <%= link_to task.name, task_path(task), :class => "name" %>
  <span class="created"><%= task.created_at.strftime("%m/%d/%Y") %></span>
  <div class="description"><%= task.description %></div>
  <div class="actions">
    <%= link_to "Edit", edit_task_path(task) %>
    <%= link_to "Destroy", task_path(task), :confirm => "Are you sure?",
      :method => :delete %>
  </div>
</div>

