<!DOCTYPE html>
<html>
<head>
  <title>Issues</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div id="main" class="round">

  <div id="interface" class="round">

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>">
	<%= value %>
      </div>
    <% end %>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </section>
</section>
</body>

</html>
